*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    outline: none;
    text-decoration: none;
}
body{
    background: rgb(0, 5, 19);
    overflow-x: hidden;
}
.navbar{
    padding: 1rem 0;
    background: rgb(1, 1, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
.nav a{
   padding-left: 2rem;
}
section{
    min-height: 100vh;
    padding: 12rem 8% 2rem;
}


.main_container{
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
}

.main_container .content{
    width: 50%;
}

.main_container .content p{
    width: 90%;
}

.main_container img{
    width: 55%;
    height: auto;
    position: absolute;
    right: 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.btn1{
   margin-left: 6rem;
   margin-right: 0.8rem;
   font-size: 1.1rem;
}
.Signup{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    font-size: 1.1rem;
    margin-left: 30px;
    border-radius: 4rem;
}

.text h1{
  font-size: 4.5rem;
}
.abc{
   border-color: rgb(255, 240, 255);
   padding: 18px 36px;
   border-radius: 4rem;
}
.start{
    font-size: 1.1rem;
    color: black;
}
.def{
   background: transparent;
   border-color: rgb(255, 240, 255);
   padding: 18px 36px;
   border-radius: 4rem;
}
.more{
    font-size: 1.1rem;
    color: white;
}
.main_boxes{
    display: flex;
    background: rgb(29, 29, 48);
    border: 1px solid #fff;
    border-radius: 1rem;
}
.ghi .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    border-right: 1px solid #c0c0c0;
    padding: 4rem 3rem;
    position: relative;  
}
.ghi .box i{
    font-size: 3rem;
    background: #000;
    position: absolute;
    right: -7%;
    border-radius: 50%;
}
.ghi .box:nth-child(3){
    border-right: none;
}
.power{    
    display: flex;
}
.power img{
    width: 45%;
    height: auto;
    left: 2rem;
}
.pwr{
    display: flex;
    flex-direction: column;   
    align-items: start;
    gap: 2rem;
}
.Started{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 2rem;
}
.books{
    display: flex;
}
.books img{
    margin-top: -5rem;
    width: 40%;
    left: 2rem;
}
.book{
    display: flex;
    flex-direction: column;   
    align-items: start;
    gap: 2rem;
}

.books .create{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    margin-top: 60px;
    border-radius: 4rem;
}
.power2 img{
    margin-top: -50%;
}
.power2 h1{
    margin-top: 20rem;
    width: 50%;
    font-size: 3rem;
    padding-left: 600px;
}
.power2 p{
    margin-top: 2rem;
    width: 470px;
    padding-left: 600px;   
}
.power2 h3{
    padding-left: 650px;
    margin-top: 1rem;
}
.Started2{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px;
    width: 140px;
    margin-top: 60px;
    margin-left: 600px;
    border-radius: 4rem;
}
.second h1{
font-size: 3rem;
padding-left: 18rem;
margin-top: 6rem;
}
.second p{
    padding-left: 22rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.main_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}
.main_box .box1{
    background: rgb(29, 29, 48);
    width: 330px;
    height: 50vh;
    border-radius: 1rem;
}
.main_box .box1 h2{
    width: 250px;
    margin-top: 160px;
    padding-left: 3rem;
}
.main_box .box1 img{
    padding-left: 6rem;
    margin-bottom: 7rem;
    width: 8rem;
}
.main_box .box1 p{
    width: 250px;
    text-align: center;
    padding-left: 2rem;
    margin-top: 1rem;
}
.main_box .box2{
    background: rgb(29, 29, 48);
    width: 330px;
    height: 55vh;
    border-radius: 1rem;
}
.main_box .box2 h2{
    width: 250px;
    margin-top: 175px;
    padding-left: 5rem;
}
.main_box .box2 img{
    padding-left: 7rem;
    margin-bottom: 9rem;
    width: 7rem;
}
.main_box .box2 p{
    width: 250px;
    text-align: center;
    padding-left: 2rem;
    margin-top: 1rem;
}
.main_box .box3{
    background: rgb(29, 29, 48);
    width: 330px;
    height: 50vh;
    border-radius: 1rem;
}
.main_box .box3 h2{
    width: 250px;
    margin-top: 160px;
    padding-left: 3rem;
}
.main_box .box3 img{
    padding-left: 7rem;
    margin-bottom: 6.5rem;
    width: 7rem;
}
.main_box .box3 p{
    width: 250px;
    text-align: center;
    padding-left: 2rem;
    margin-top: 1rem;
}
.main_box .box4{
    background: rgb(29, 29, 48);
    width: 330px;
    height: 50vh;
    border-radius: 1rem;
}
.main_box .box4 h2{
    width: 300px;
    margin-top: 160px;
    padding-left: 2.5rem;
}
.main_box .box4 img{
    padding-left: 7rem;
    margin-bottom: 8rem;
    width: 7rem;
}
.main_box .box4 p{
    width: 250px;
    text-align: center;
    padding-left: 2.5rem;
    margin-top: 1rem;
}
.main_box .box5{
    background: rgb(29, 29, 48);
    width: 330px;
    height: 55vh;
    border-radius: 1rem;
}
.main_box .box5 h2{
    width: 250px;
    margin-top: 190px;
    padding-left: 4rem;
}
.main_box .box5 img{
    padding-left: 7rem;
    margin-bottom: 8rem;
    width: 7rem;
}
.main_box .box5 p{
    width: 250px;
    text-align: center;
    padding-left: 2rem;
    margin-top: 1rem;
}
.main_box .box6{
    background: rgb(29, 29, 48);
    width: 330px;
    height: 50vh;
    border-radius: 1rem;
}
.main_box .box6 h2{
    width: 250px;
    margin-top: 160px;
    padding-left: 4rem;
}
.main_box .box6 img{
    padding-left: 7rem;
    margin-bottom: 8.5rem;
    width: 7rem;
}
.main_box .box6 p{
    width: 250px;
    text-align: center;
    padding-left: 2rem;
    margin-top: 1rem;
}
.sea{
    background: white;
    border-color: rgb(255, 240, 255);
    padding: 20px;
    margin-left: 37rem;
    width: 140px;
    margin-top: 60px;
    border-radius: 4rem;
 }
 .see{
    font-size: 1.1rem;
     color: black;
 }
 .work h1{
    width: 450px;
    font-size: 3rem;
    padding-left: 6rem;
    margin-top: 10rem;
}
.work p{
    width: 470px;
    padding-left: 6rem;
    margin-top: 2rem;
}
.work h3{
    padding-left: 8rem;
    margin-top: 1rem;
}
.work{
    display: flex;
    flex-direction: column;
}
.work .create{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18.5px;
    width: 140px;
    font-size: 1.1rem;
    margin-top: 60px;
    margin-left: 6rem;
    border-radius: 4rem;
}
.user{
    display: flex;
    flex-wrap: wrap;
}
.user p{
    width: 550px;
    font-size: 1.3rem;
    padding-left: 700px;
    margin-top: -18rem;
}
.user .box1{
    margin-left: 700px;
    margin-top: -15rem;
}
.user .box1 img{
    margin-top: 1rem;
    padding-left: 0.1rem;
}
.user .icon1 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 0.2rem;
    margin-top: -1rem;
    color: rgb(250, 184, 4);
}
.user .icon2 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    margin-top: -1.5rem;
    color: rgb(250, 184, 4);
}
.user .icon3 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 2.7rem;
    margin-top: -1.5rem;
    color: rgb(250, 184, 4);
}
.user .icon4 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 3.9rem;
    margin-top: -1.5rem;
    color: rgb(250, 184, 4);
}
.user .icon5 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 5.2rem;
    margin-top: -1.5rem;
    color: rgb(250, 184, 4);
}
.user h3{
    color: gray;
    font-size: 1.1rem;
    margin-top: -1.3rem;
    padding-left: 6.8rem;
}
.user .box2{
    margin-left: 930px;
    margin-top: -15rem;
}
.user .box2 img{
    margin-top: 3.3rem;
    padding-left: 0.1rem;
}
.user .icon11 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 0.2rem;
    margin-top: 1rem;
    color: rgb(250, 184, 4);
}
.user .icon22 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    margin-top: -1.5rem;
    color: rgb(250, 184, 4);
}
.user .icon33 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 2.7rem;
    margin-top: -1.5rem;
    color: rgb(250, 184, 4);
}
.user .icon44 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 3.9rem;
    margin-top: -1.5rem;
    color: rgb(250, 184, 4);
}
.user .icon55 i{ 
    display: flex;
    font-size: 1.5rem;
    padding-left: 5.2rem;
    margin-top: -1.5rem;
    color: rgb(250, 184, 4);
}
.user h3{
    color: gray;
    font-size: 1.1rem;
    margin-top: -1.3rem;
    padding-left: 6.8rem;
}
.user .img1{
    padding-left: 5rem;
    margin-top: -3.3rem;
}
.user .img2{
    padding-left: 17rem;
}
.user .img3{
    padding-left: 33rem;
    margin-top: -4rem;
}
.happy{
    font-size: 2rem; 
    padding-left: 25rem;
    margin-top: 12rem;
}
.reading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}
.reading p{
   margin-top: 4rem;
   font-size: 0.9rem;
   align-items: center;
   justify-content: center;
}
.reading .read1{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
    
}
.reading .read2{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
}.reading .read3{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
}.reading .read4{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
}.reading .read5{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
}
.reading .read6{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
}
.reading .read7{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
}
.reading .read8{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
}
.reading .read9{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
}
.reading .read10{
    background: rgb(29, 29, 48);
    width: 400px;
    height: 40vh;
    border-radius: 1rem;
}
.Pricing{
    display: flex;
}
.Pricing h1{
    font-size: 3rem;
    margin-top: 12rem;
    padding-left: 10rem;
    width: 900px;

}
.Pricing p{
    margin-top: 13rem;
    padding-right: 7rem;
}
.starter{
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
    padding-left: 5rem;
    background: rgb(29, 29, 48);
    width: 900px;
    height: 30vh;
    border-radius: 1rem;
    margin-left: 9rem;
   align-items: center;
}
.starter h1{
    font-size: 2rem;
}
.starter h2{
    padding-left: 0rem;
    margin-bottom: 1rem;

}
.starter h5{
    margin-top: 0.5rem;
}
.popular{
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
    padding-left: 5rem;
    background: rgb(29, 29, 48);
    width: 900px;
    height: 30vh;
    border-radius: 1rem;
    margin-left: 9rem;
   align-items: center;
} 
.popular h1{
    font-size: 2rem;
}
.popular h2{
    padding-left: 0rem;
    margin-bottom: 1rem;
}
.popular h5{
    margin-top: 0.5rem;
}
.enter{
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
    padding-left: 5rem;
    border-color: rgb(255, 240, 255);
    background: rgb(29, 29, 48);
    width: 900px;
    height: 30vh;
    border-radius: 1rem;
    margin-left: 9rem;
   align-items: center;
}
.enter h1{
    font-size: 2rem;
}
.enter h2{
    padding-left: 0rem;
    margin-bottom: 1rem;

}
.enter h5{
    margin-top: 0.5rem;
}
 .get{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px;
    width: 140px;
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
    margin-left: 20px;
    border-radius: 4rem;
}
.git{
    border-color: rgb(255, 240, 255);
        padding: 18px;
        width: 140px;       
        border-radius: 4rem;
        
}
.giit{
    font-size: 1.1rem;
         color: black;
}
.gett{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px;
    width: 140px;
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
    margin-left: -1rem;
    border-radius: 4rem;
}
.ques h1{
    font-size: 3rem;
    margin-top: 12rem;
    padding-left: 7rem;
}
.ques p{
    padding-left: 7rem;
    padding-top: 2rem;  
}
.contact{
    background: transparent;
    padding: 18px;
    width: 140px;
    font-size: 1.1rem;
    margin: 2rem;
    margin-left: 7rem;
    border-radius: 4rem
}
.ques .writing{
    width: 700px;
    height: 12vh;
    margin-left: 38rem;
    margin-top: -27rem;
}
.writing button{
    background: transparent;
    border-color: transparent;
    font-size: 1.4rem;
    padding-right: 20rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.ques .process{
    width: 700px;
    height: 12vh;
    margin-top: 2rem;
    margin-left: 38rem;
}
.process button{
    background: transparent;
    border-color: transparent;
    font-size: 1.4rem;
    padding-right: 20rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.ques .money{
    width: 700px;
    height: 12vh;
    margin-top: 2rem;
    margin-left: 38rem;
}
.money button{
    background: transparent;
    border-color: transparent;
    font-size: 1.4rem;
    padding-right: 20rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.ques .currency{
    width: 700px;
    height: 12vh;
    margin-top: 2rem;
    margin-left: 38rem;
}
.currency button{
    background: transparent;
    border-color: transparent;
    font-size: 1.4rem;
    padding-right: 20rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.ques .cards{
    width: 700px;
    height: 12vh;
    margin-top: 2rem;
    margin-left: 38rem;
}
.cards button{
    background: transparent;
    border-color: transparent;
    font-size: 1.4rem;
    padding-right: 20rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.future h1{
    font-size: 2rem;
    margin-top: 20rem;
    padding-left: 10rem;
}
.future h4{
    padding-left: 10rem;
    padding-top: 2rem;          
     
}
.srt{
    border-color: rgb(255, 240, 255);
    padding: 18px;
    width: 140px;
    margin-top: 60px;
    border-radius: 4rem;
    margin-left: 9rem;
}
.srtt{
    font-size: 1.1rem;
    color: black;
}
.mor{
    background: transparent;
    border-color: rgb(255, 240, 255);
    width: 140px;
    padding: 18px;
    margin-top: 60px;
    border-radius: 4rem;
}
.morr{
    font-size: 1.1rem;
    color: white;
}
.future img{
    height: 60vh;
    width: 600px;
    margin-top: -20rem;
}
.sub{
    height: 100vh;
    width: auto;
    background: rgb(12, 12, 30);
}
.sub .box1{
    margin-top: 10rem;
    display: flex;
    gap: 12rem;
    padding-left: 5rem;
    background: rgb(62, 62, 90);
    width: 1000px;
    height: 25vh;
    border-radius: 1rem;
    margin: 7rem;
    margin-left: 5rem;
   align-items: center; 
}
.sub input{
    padding-right: 20rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 10rem;
    font-size: 1rem;
    border-radius: 4rem;
    background: rgb(29, 29, 48);
}
.sub button{
    background: white;
    color: black;
    border-color: rgb(255, 240, 255);
    padding: 17px;
    width: 140px;
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
    margin-left: -10rem;
    border-radius: 4rem;
}  
.sub a{
    font-size: 1.5rem;
}
.logo img{
    padding-left: 1rem;
}
.logo p{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    padding-left: 1rem;
}
.links{
    gap: 5rem;
    margin-left: 5rem;
}
.xyz{
    padding-left: 30rem;
    margin-top: -12rem;
}
.xyz h1{
    font-size: 1.5rem;    
}
.xyz ul li a{
    font-size: 1rem;
    margin-top: 1rem;
    padding-left: 1rem;
}
.aaa{
    padding-left: 45rem;
    margin-top: -7rem; 
}
.aaa ul li a{
    font-size: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;
}
.bbb{
    padding-left: 65rem;
    margin-top: -6rem; 
}
.bbb ul li a{
    font-size: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;
}
.links i{
    color: white;
    background: rgb(94, 94, 122);
    height: 1rem;
    width: 2rem;
    border-radius: 4rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
    margin-left: 0.7rem;
}
footer h3{
    padding-left: 35rem;
}

@media(max-width: 768px){
    .nav{
        display: none;
    }
    .main_container{
        width: 100vw;
    }
    .main_container .content{
        width: 100%;
    }    
    .main_container img{
        width: 100%;
        position: static;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .main_container{
        display: flex;
        flex-direction: column;
    }
}