*,:after,:before{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: rgb(0, 5, 19);
    overflow-x: hidden;
}
.navbar{
    padding: 1rem 0;
    background: rgb(1, 1, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
.nav a{
   padding-left: 2rem;
}
section{  
    padding: 12rem 8% 2rem;
}
.main_container{
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
}

.main_container .content{
    width: 50%;
}

.main_container .content p{
    width: 90%;
}

.main_container img{
    width: 58%;
    height: auto;
    position: absolute;
    right: 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.btn1{
   margin-left: 6rem;
   margin-right: 0.8rem;
   font-size: 1.1rem;
}
.Signup{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    font-size: 1.1rem;
    margin-left: 30px;
    border-radius: 4rem;
    position: relative;
    overflow: hidden;
}

.Signup::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}
.Signup:hover::after{
    width: 100%;
    opacity: 1;
}
.text h1{
  font-size: 4.5rem;
}

.start{
    border: 2px solid rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 4rem;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.start::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}
.start:hover::after{
    width: 100%;
    opacity: 1;
}
.more{
    /* background: rgb(1, 1, 37); */
    border: 2px solid rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 4rem;
    font-size: 1.1rem;
    color: white;
    position: relative;
    overflow: hidden;
}

.more::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}

.more:hover::after{
    width: 100%;
    opacity: 1;
}

.main_boxes{
    display: flex;
    background: rgb(29, 29, 48);
    border: 1px solid gray;
    border-radius: 1rem;
}
.second{
    margin-bottom: 4rem;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate{
    opacity: 1;
    transform: translateZ(0) scale(1);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}

[data-aos=zoom-in-up] {
    transform: translate3d(0, 100px, 0) scale(.6);
}
.ghi .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    border-right: 1px solid #c0c0c0;
    padding: 4rem 3rem;
    position: relative;  
}
.ghi .box i{
    font-size: 3rem;
    background: #000;
    position: absolute;
    right: -7%;
    border-radius: 50%;
}
.ghi .box:nth-child(3){
    border-right: none;
}
.power{    
    display: flex;
}
.power img{
    width: 45%;
    left: 2rem;
}
.pwr{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    align-items: start;
    gap: 2rem;
}
.pwr h1{
    font-size: 3rem;  
}
.Started{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

.Started::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}

.Started:hover::after{
    width: 100%;
    opacity: 1;
}


 .planns{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.books{ 
    margin-top: 10rem;   
    display: flex;
}
.books img{
    margin-top: -60%;
    margin-left: 70%;
    width: 75%;
    right: 0;
}
.book{
    display: flex;
    flex-direction: column; 
    padding-left: 3rem;  
    align-items: start;
    gap: 2rem;
}
.book h1{
    font-size: 3rem;
}
.create{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

.create::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}

.create:hover::after{
    width: 100%;
    opacity: 1;
}

.power2{   
    margin-top: 10rem; 
    display: flex;
}
.power2 img{
    width: 50%;
    left: 2rem;
    margin-top: -5rem;
}
.pwr2{
    display: flex;
    flex-direction: column;  
    padding-left: 3rem; 
    align-items: start;
    gap: 2rem;
}
.pwr2 h1{
    font-size: 3rem;
}
.Started2{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

.Started2::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}

.Started2:hover::after{
    width: 100%;
    opacity: 1;
}

[data-aos^=zoom][data-aos^=zoom].aos-animate{
    opacity: 1;
    transform: translateZ(0) scale(1);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}

[data-aos=zoom-in-right] {
    transform: translate3d(-100px, 0, 0) scale(.6);
}
.second h1{
font-size: 3rem;
padding-left: 10rem;
}
.second p{
    padding-left: 13rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.main_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate{
    opacity: 1;
    transform: translateZ(0) scale(1);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
.main_box .box{
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: center;
    width: 330px;
    height: 60vh;
    gap: 1rem;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid rgb(126, 211, 126);
}

.main_box .box h2{
    width: 300px;
    text-align: center;
}
.main_box .box img{
    width: 8rem;
}
.main_box .box p{
    width: 250px;
    text-align: center; 
}   
.main_box .box2{
    display: flex;
    flex-direction: column;
    background: transparent;
    justify-content: center;
    width: 330px;
    height: 65vh;
    gap: 1rem;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid rgb(126, 211, 126);
}
.main_box .box2 p{
    width: 250px;
    text-align: center; 
}   
 .see{
    border: 2px solid rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 4rem;
    font-size: 1.1rem;
    color: #fff;
    margin-left: 35rem;
    position: relative;
    overflow: hidden;
}

.see::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}

.see:hover::after{
    width: 100%;
    opacity: 1;
}

 .work_container{
    display: flex;
    align-items: center;
    gap: 4rem;
 }

 .work h1{
    font-size: 3rem;
 }
.work h3{
    margin-top: 1rem;
}
.work{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.work .create{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18.5px;
    margin-top: 2rem;
    font-size: 1.1rem;
    border-radius: 4rem;
}
.user p{
    font-size: 1.3rem;
}

.rating{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.rating_box{
    display: flex;
    gap: 2rem;
}

.img_box{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.iconn{
    display: flex;   
}
.iconn i{
    color: rgb(245, 152, 1);
}

.main_pricing{
   display: flex;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aos=fade-right] {
    transform: translate3d(-100px,0,0);
}
[data-aos=fade-up] {
    transform: translate3d(0,100px,0);
}
.Pricing{
    display: flex;
}
.Pricing .plan h1{
    font-size: 3rem;
}
.plans p{
margin-top: 2rem;    
}
.starter{
    display: flex;
    gap: 6rem; 
    padding-left: 5rem;
    background: transparent;
    margin-top: 3rem;
    width: 100%;
    height: 40vh;
    border: 1px solid #fff;
    border-radius: 1rem;
    align-items: center;
}
.starter h1{
    font-size: 3rem;
}

.starter h5{
    margin-top: 1rem;
}
.popular{
    display: flex;
    gap: 5.5rem;
    padding-left: 5rem;
    background: transparent;
    width: 100%;
    height: 40vh;
    border: 1px solid #fff;
    border-radius: 1rem;
   align-items: center;
} 
.popular h1{
    font-size: 3rem;
}
.popular h5{
    margin-top: 1rem;
}
.enter{
    display: flex;
    gap: 4.5rem;
    padding-left: 5rem;
    border-color: tr;
    background: transparent;
    width: 100%;
    height: 40vh;
    border: 1px solid #fff;
    border-radius: 1rem;
   align-items: center;
}
.enter h1{
    font-size: 3rem;
}
.enter h5{
    margin-top: 1rem;
}
 .get{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    font-size: 1.1rem;
    border-radius: 4rem;
    position: relative;
    overflow: hidden;
}

.get::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}
.get:hover::after{
    width: 100%;
    opacity: 1;
}
.git{
    border: 2px solid rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 4rem;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.git::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}

.git:hover::after{
    width: 100%;
    opacity: 1;
}
.giit{
    font-size: 1.1rem;
    color: black;
}
.gett{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    font-size: 1.1rem;
    border-radius: 4rem;
    position: relative;
    overflow: hidden;
 }
.gett::after{
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
        top: 0;
        left: 0;
        border-radius: 4rem;
        z-index: -1;
        transition: all .3s;
        opacity: 0;
}
.gett:hover::after{
        width: 100%;
        opacity: 1;
 }
.ques h1{
    font-size: 3rem;
}
.ques p{
    padding-top: 2rem;  
}
.contact{
    background: transparent;
    padding: 18px 36px;
    font-size: 1.1rem;
    margin-top: 2rem;
    border-radius: 4rem;
    position: relative;
    overflow: hidden;
 }
.contact::after{
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
        top: 0;
        left: 0;
        border-radius: 4rem;
        z-index: -1;
        transition: all .3s;
        opacity: 0;
}
.contact:hover::after{
        width: 100%;
        opacity: 1;
 }
.future h1{
    font-size: 3rem;
}
.future h4{
    padding-top: 2rem;          
     
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos=fade-up] {
    transform: translate3d(0,100px,0);
}
.srtt{
    border: 2px solid rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 4rem;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    overflow: hidden;
 }
.srtt::after{
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
        top: 0;
        left: 0;
        border-radius: 4rem;
        z-index: -1;
        transition: all .3s;
        opacity: 0;
}
.srtt:hover::after{
        width: 100%;
        opacity: 1;
 }
 .morr{
    border: 2px solid rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 4rem;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    overflow: hidden;
 }
.morr::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, rgb(54, 215, 218), rgb(149, 36, 254));
    top: 0;
    left: 0;
    border-radius: 4rem;
    z-index: -1;
    transition: all .3s;
    opacity: 0;
}
.morr:hover::after{
    width: 100%;
    opacity: 1;
 }
.future img{
    margin-top: -25%;
    margin-left: 45%;
    width: 60%;
}
.sub{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:  100%;
}
.sub .box1{
    display: flex;
    padding-left: 5rem;
    background: rgb(62, 62, 90);
    width: 100%;
    height: 25vh;
    gap: 4rem;
    border-radius: 1rem;
    align-items: center; 
}
.inp input{
    padding-right: 20rem;
    width: 100%;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4rem;
    background: rgb(15, 15, 49);
}
.inp{
    display: flex;
}
.sub button{
    background: white;
    color: black;
    border-color: rgb(255, 240, 255);
    padding: 10px 35px;
    margin-left: -10rem;
    border: none;
    font-size: 1.1rem;
    border-radius: 4rem;
}  
.sub a{
    font-size: 1.5rem;
}
.links{
    width: 100%;
}
.logo p{
    font-size: 1.3rem;
}

.aabb{
    display: flex;
    gap: 6rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 4rem;
}
.aaa ul, .bbb ul, .xyz ul{
    list-style: none;
}

.xyz h1{
    font-size: 1.5rem;    
}
.xyz ul li a{
    font-size: 1rem;
}

.aaa ul li a{
    font-size: 1rem;
}
.bbb ul li a{
    font-size: 1rem;
}
.links i{
    color: white;
    background: rgb(94, 94, 122);
    height: 1rem;
    width: 2rem;
    border-radius: 4rem;
    text-align: center;
}

.Copyright{
    display: flex;
    justify-content: center;
}
[data-aos][data-aos][data-aos-delay="50"].aos-animate, body[data-aos-delay="50"] [data-aos].aos-animate {
    transition-delay: 50ms;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-duration="1500"], body[data-aos-duration="1500"] [data-aos] {
    transition-duration: 1.5s;
}
[data-aos][data-aos][data-aos-delay="50"], body[data-aos-delay="50"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aos=fade-right] {
    transform: translate3d(-100px,0,0);
}
[data-aos=fade-up] {
    transform: translate3d(0,100px,0);
}
@media(max-width: 768px){
    .nav{
        display: none;
    }
    .main_container{
        width: 100vw;
    }
    .main_container .content{
        width: 100%;
    }    
    .main_container img{
        width: 100%;
        position: static;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .main_container{
        display: flex;
        flex-direction: column;
    }
}