*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    outline: none;
    text-decoration: none;
}
body{
    background: rgb(0, 5, 19);
    overflow-x: hidden;
}
.navbar{
    padding: 1rem 0;
    background: rgb(1, 1, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
.nav a{
   padding-left: 2rem;
}
section{  
    padding: 12rem 8% 2rem;
}
.main_container{
    width: 100vw;
    display: flex;
    align-items: center;
    position: relative;
}

.main_container .content{
    width: 50%;
}

.main_container .content p{
    width: 90%;
}

.main_container img{
    width: 58%;
    height: auto;
    position: absolute;
    right: 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.btn1{
   margin-left: 6rem;
   margin-right: 0.8rem;
   font-size: 1.1rem;
}
.Signup{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    font-size: 1.1rem;
    margin-left: 30px;
    border-radius: 4rem;
}

.text h1{
  font-size: 4.5rem;
}
.abc{
   border-color: rgb(255, 240, 255);
   padding: 18px 36px;
   border-radius: 4rem;
}
.start{
    font-size: 1.1rem;
    color: black;
}
.def{
   background: transparent;
   border-color: rgb(255, 240, 255);
   padding: 18px 36px;
   border-radius: 4rem;
}
.more{
    font-size: 1.1rem;
    color: white;
}
.main_boxes{
    display: flex;
    background: rgb(29, 29, 48);
    border: 1px solid gray;
    border-radius: 1rem;
}
.second{
    margin-bottom: 4rem;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate{
    opacity: 1;
    transform: translateZ(0) scale(1);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}

[data-aos=zoom-in-up] {
    transform: translate3d(0, 100px, 0) scale(.6);
}
.ghi .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    border-right: 1px solid #c0c0c0;
    padding: 4rem 3rem;
    position: relative;  
}
.ghi .box i{
    font-size: 3rem;
    background: #000;
    position: absolute;
    right: -7%;
    border-radius: 50%;
}
.ghi .box:nth-child(3){
    border-right: none;
}
.power{    
    display: flex;
}
.power img{
    width: 45%;
    left: 2rem;
}
.pwr{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    align-items: start;
    gap: 2rem;
}
.pwr h1{
    font-size: 3rem;  
}
.Started{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 2rem;
}

 .planns{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.books{ 
    margin-top: 10rem;   
    display: flex;
}
.books img{
    margin-top: -60%;
    margin-left: 70%;
    width: 75%;
    right: 0;
}
.book{
    display: flex;
    flex-direction: column; 
    padding-left: 3rem;  
    align-items: start;
    gap: 2rem;
}
.book h1{
    font-size: 3rem;
}
.create{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 2rem;
}
.power2{   
    margin-top: 10rem; 
    display: flex;
}
.power2 img{
    width: 50%;
    left: 2rem;
    margin-top: -5rem;
}
.pwr2{
    display: flex;
    flex-direction: column;  
    padding-left: 3rem; 
    align-items: start;
    gap: 2rem;
}
.pwr2 h1{
    font-size: 3rem;
}
.Started2{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 2rem;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate{
    opacity: 1;
    transform: translateZ(0) scale(1);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}

[data-aos=zoom-in-right] {
    transform: translate3d(-100px, 0, 0) scale(.6);
}
.second h1{
font-size: 3rem;
padding-left: 10rem;
}
.second p{
    padding-left: 13rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.main_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
[data-aos^=zoom][data-aos^=zoom].aos-animate{
    opacity: 1;
    transform: translateZ(0) scale(1);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
.main_box .box{
    display: flex;
    flex-direction: column;
    background: rgb(29, 29, 48);
    justify-content: center;
    width: 330px;
    height: 60vh;
    gap: 1rem;
    align-items: center;
    border-radius: 1rem;
}

.main_box .box h2{
    width: 300px;
    text-align: center;
}
.main_box .box img{
    width: 8rem;
}
.main_box .box p{
    width: 250px;
    text-align: center; 
}   
.main_box .box2{
    display: flex;
    flex-direction: column;
    background: rgb(29, 29, 48);
    justify-content: center;
    width: 330px;
    height: 65vh;
    gap: 1rem;
    align-items: center;
    border-radius: 1rem;
}
.sea{
    background: white;
    border-color: rgb(255, 240, 255);
    padding: 20px;
    margin-left: 35rem;
    width: 140px;
    border-radius: 4rem;
 }
 .see{
    font-size: 1.1rem;
     color: black;
 }
 .work h1{
    width: 400px;
    font-size: 3rem;
 }
.work p{
    width: 470px;
}
.work h3{
    margin-top: 1rem;
}
.work{
    display: flex;
    flex-direction: column;
}
.work .create{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18.5px;
    margin-top: 2rem;
    width: 140px;
    font-size: 1.1rem;
    border-radius: 4rem;
}
.user{
    display: flex;
    flex-wrap: wrap;
}
.user p{
    width: 55%;
    font-size: 1.3rem;
    padding-left: 520px;
    margin-top: -14rem;
}
.shweta{
  display: flex;  
}
.shweta .box1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1 .image{
    display: flex;
    
   
}
.iconn{
    display: flex;
}
.iconn i{
    color: rgb(245, 152, 1);
}
.user .img{
    display: flex;
    align-items: center;
    gap: 1rem;
  
}
.main_pricing{
   display: flex;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aos=fade-right] {
    transform: translate3d(-100px,0,0);
}
[data-aos=fade-up] {
    transform: translate3d(0,100px,0);
}
.Pricing{
    display: flex;
}
.Pricing .plan h1{
    font-size: 3rem;
}
.starter{
    display: flex;
    gap: 4rem; 
    padding-left: 5rem;
    background: rgb(29, 29, 48);
    width: 900px;
    height: 30vh;
    border-radius: 1rem;
    align-items: center;
}
.starter h1{
    font-size: 2rem;
}

.popular{
    display: flex;
    gap: 4rem;
    padding-left: 5rem;
    background: rgb(29, 29, 48);
    width: 900px;
    height: 30vh;
    border-radius: 1rem;
   align-items: center;
} 
.popular h1{
    font-size: 2rem;
}
.popular h2{
    padding-left: 0rem;
}
.enter{
    display: flex;
    gap: 4rem;
    padding-left: 5rem;
    border-color: rgb(255, 240, 255);
    background: rgb(29, 29, 48);
    width: 900px;
    height: 30vh;
    border-radius: 1rem;
   align-items: center;
}
.enter h1{
    font-size: 2rem;
}
 .get{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px;
    width: 140px;
    font-size: 1.1rem;
    border-radius: 4rem;
}
.git{
    border-color: rgb(255, 240, 255);
    padding: 18px;
    width: 140px;       
    border-radius: 4rem;
        
}
.giit{
    font-size: 1.1rem;
    color: black;
}
.gett{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px;
    width: 140px;
    font-size: 1.1rem;
    border-radius: 4rem;
}
.ques h1{
    font-size: 3rem;
}
.ques p{
    padding-top: 2rem;  
}
.contact{
    background: transparent;
    padding: 18px 36px;
    font-size: 1.1rem;
    margin-top: 2rem;
    border-radius: 4rem
}
.future h1{
    font-size: 3rem;
}
.future h4{
    padding-top: 2rem;          
     
}




[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos=fade-up] {
    transform: translate3d(0,100px,0);
}
.srt{
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    margin-top: 2rem;
    border-radius: 4rem;
}
.srtt{
    font-size: 1.1rem;
    color: black;
}
.mor{
    background: transparent;
    border-color: rgb(255, 240, 255);
    padding: 18px 36px;
    border-radius: 4rem;
}
.morr{
    font-size: 1.1rem;
    color: white;
}
.future img{
    margin-top: -40%;
    margin-left: 45%;
    width: 60%;
    right: 0;
}
.sub{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.sub .box1{
    display: flex;
    gap: 12rem;
    padding-left: 5rem;
    background: rgb(62, 62, 90);
    width: 1000px;
    height: 25vh;
    border-radius: 1rem;
    align-items: center; 
}
.sub input{
    padding-right: 20rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1rem;
    border-radius: 4rem;
    background: rgb(29, 29, 48);
}
.inp{
    display: flex;
}
.sub button{
    background: white;
    color: black;
    border-color: rgb(255, 240, 255);
    padding: 10px 30px;
    margin-left: -10rem;
    font-size: 1.1rem;
    border-radius: 4rem;
}  
.sub a{
    font-size: 1.5rem;
}
.links{
    width: 100%;
}
.logo p{
    font-size: 1.3rem;
}
.aabb{
    display: flex;
    gap: 6rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 4rem;
}
.aaa ul, .bbb ul, .xyz ul{
    list-style: none;
}

.xyz h1{
    font-size: 1.5rem;    
}
.xyz ul li a{
    font-size: 1rem;
}

.aaa ul li a{
    font-size: 1rem;
}
.bbb ul li a{
    font-size: 1rem;
}
.links i{
    color: white;
    background: rgb(94, 94, 122);
    height: 1rem;
    width: 2rem;
    border-radius: 4rem;
    text-align: center;
}

.Copyright{
    display: flex;
    justify-content: center;
}
[data-aos][data-aos][data-aos-delay="50"].aos-animate, body[data-aos-delay="50"] [data-aos].aos-animate {
    transition-delay: 50ms;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-duration="1500"], body[data-aos-duration="1500"] [data-aos] {
    transition-duration: 1.5s;
}
[data-aos][data-aos][data-aos-delay="50"], body[data-aos-delay="50"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aos=fade-right] {
    transform: translate3d(-100px,0,0);
}
[data-aos=fade-up] {
    transform: translate3d(0,100px,0);
}
@media(max-width: 768px){
    .nav{
        display: none;
    }
    .main_container{
        width: 100vw;
    }
    .main_container .content{
        width: 100%;
    }    
    .main_container img{
        width: 100%;
        position: static;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .main_container{
        display: flex;
        flex-direction: column;
    }
}